@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PrograLabPC1.Models.Student>

<!DOCTYPE html>
<html>
    <title>Student app</title>
<body>
    <h1>Bienvenido a Student app</h1><br>
   
    <div>
        <a asp-action="Create">Create</a><br/>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Curso)
                    </th>
                </tr>
            </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso)
                        </td>
                        <td>
                            <a asp-action="detail" asp-route-id="@item.Id">Details</a> |
                        </td>
                    </tr>
            }
                </tbody>
        </table>
    </div>
    
    
</body>
</html>